@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Noto+Serif+TC:wght@200..900&display=swap");
footer {
  background-color: #eae5d9;
  padding: 60px 0 30px;
  font-family: "Noto Serif TC", serif;
}
footer .wrap {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(65, 69, 53, 0.1);
}
@media screen and (max-width: 1080px) {
  footer .wrap {
    flex-direction: column;
    gap: 40px;
  }
}
footer .logoBox {
  display: block;
}
@media screen and (max-width: 1080px) {
  footer .logoBox {
    order: 1;
  }
}
@media screen and (max-width: 1080px) {
  footer .navBox {
    order: 3;
  }
}
footer .footerNav {
  width: 100%;
  max-width: 370px;
  display: flex;
}
footer .footerNav ul {
  display: grid;
  align-items: center;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 20px;
}
@media screen and (max-width: 768px) {
  footer .footerNav ul {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
footer .footerNav li {
  position: relative;
}
footer .footerNav li::after {
  content: "/";
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
}
footer .footerNav li:nth-child(3)::after, footer .footerNav li:nth-child(6)::after {
  display: none;
}
@media screen and (max-width: 768px) {
  footer .footerNav li:nth-child(even)::after {
    display: none;
  }
  footer .footerNav li:nth-child(odd)::after {
    display: block;
  }
}
footer .footerNav a {
  padding: 10px;
  transition: color 0.5s ease;
  font-weight: 600;
}
footer .footerNav a:hover {
  color: rgb(176, 100, 75);
}
footer .socialBox {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  flex-direction: column;
}
@media screen and (max-width: 1080px) {
  footer .socialBox {
    order: 2;
  }
}
footer .socialBox .iconBox {
  display: flex;
  justify-content: right;
  gap: 10px;
}
@media screen and (max-width: 1080px) {
  footer .socialBox .iconBox {
    justify-content: center;
  }
}
footer .socialBox .iconBox .icon {
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: transparent;
  transition: transform 0.5s ease;
}
footer .socialBox .iconBox .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0) saturate(100%) invert(88%) sepia(21%) saturate(376%) hue-rotate(347deg) brightness(84%) contrast(92%);
}
footer .socialBox .iconBox .icon:hover {
  transform: translateY(-3px);
}

.emailBox {
  color: #414535;
}

.bottomBox {
  padding: 0 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: rgba(65, 69, 53, 0.5);
}
.bottomBox .text {
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.5;
}
.bottomBox .text .show-mb {
  display: none;
}
@media screen and (max-width: 1080px) {
  .bottomBox .text .show-mb {
    display: block;
  }
}
.bottomBox .goTop {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}