@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Noto+Serif+TC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #DEDBD4;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition: opacity 1.5s ease-in-out, visibility 1.5s ease-in-out;
}
.preloader.hide {
  opacity: 0;
  visibility: hidden;
}
.preloader .loader {
  width: 48px;
  height: 48px;
  border: 3px solid #7A9283;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btnBox {
  justify-content: center;
  align-items: center;
}
.btnBox .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid rgba(65, 69, 53, 0.3);
  max-width: 215px;
  height: fit-content;
  padding: 20px 60px;
  border-radius: 30px;
}
.btnBox .btn:hover {
  cursor: pointer;
}
.btnBox .btn:hover .arrow {
  transform: translateX(15px);
}
.btnBox p {
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  font-family: "Cormorant", "Noto Serif TC", serif;
  color: #414535;
}
@media screen and (max-width: 768px) {
  .btnBox p {
    font-size: 14px;
  }
}
.btnBox .arrow {
  display: flex;
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 1px;
  background-color: #414535;
  transform: translateX(0);
  transition: transform 0.5s ease;
}
.btnBox .arrow::before {
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: #414535;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: -4px;
}

.show-mb {
  display: none;
}
@media screen and (max-width: 768px) {
  .show-mb {
    display: block;
  }
}

.show-pc {
  display: block;
}
@media screen and (max-width: 992px) {
  .show-pc {
    display: none;
  }
}

body {
  background-color: #edebe1;
  overflow: hidden;
}

.titleBox {
  width: 100%;
  display: flex;
  max-width: 610px;
  font-family: "Cormorant", "Noto Serif TC", serif;
}
@media screen and (max-width: 1080px) {
  .titleBox {
    width: 395px;
  }
}
.titleBox .enText {
  font-weight: 600;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 0px;
  color: rgb(65, 69, 53);
  text-transform: uppercase;
}
@media screen and (max-width: 1080px) {
  .titleBox .enText .show-pc {
    display: flex;
  }
}
@media screen and (max-width: 992px) {
  .titleBox .enText {
    font-size: 60px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .titleBox .enText {
    font-size: 48px;
  }
}
@media screen and (max-width: 375px) {
  .titleBox .enText {
    font-size: 40px;
  }
}
.titleBox .zhText {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.bannerArea {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  font-family: "Noto Serif TC", serif;
  position: relative;
  z-index: 1;
  background-color: #e5e0d0;
  padding-top: 5vw;
}
@media screen and (max-width: 1080px) {
  .bannerArea {
    height: 1200px;
    padding-top: 10vw;
  }
}
@media screen and (max-width: 768px) {
  .bannerArea {
    padding-top: 110px;
  }
}
.bannerArea::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background-color: #383b2d;
  z-index: -2;
}
.bannerArea::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../../images/fruit-bg.png");
  opacity: 0.1;
}
.bannerArea .bannerMask {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}
.bannerArea .bannerMask img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.bannerArea .wrap {
  width: 100%;
  max-width: 1460px;
  padding: 0 20px;
}
.bannerArea .topBox {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 1080px) {
  .bannerArea .topBox {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
.bannerArea .secondBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1080px) {
  .bannerArea .secondBox {
    justify-content: center;
  }
}
.bannerArea .secondBox .drinkBox {
  display: flex;
  align-items: flex-end;
  gap: clamp(20px, 2vw, 50px);
  flex-shrink: 0;
}
@media screen and (max-width: 1080px) {
  .bannerArea .secondBox .drinkBox {
    display: none;
  }
}
.bannerArea .secondBox .drinkBox .vertical {
  margin-bottom: 30px;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  position: relative;
}
.bannerArea .secondBox .drinkBox .vertical p {
  display: block;
  color: #414535;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  padding: 10px;
  border: 1px solid #414535;
}
.bannerArea .secondBox .drinkBox .vertical .dot {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #414535;
  border-radius: 50%;
  z-index: 2;
}
.bannerArea .secondBox .drinkBox .vertical .dot::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
}
.bannerArea .secondBox .drinkBox .vertical .dot:nth-of-type(1) {
  top: 8px;
  left: 8px;
}
.bannerArea .secondBox .drinkBox .vertical .dot:nth-of-type(2) {
  top: 8px;
  right: 8px;
}
.bannerArea .secondBox .drinkBox .vertical .dot:nth-of-type(3) {
  bottom: 8px;
  left: 8px;
}
.bannerArea .secondBox .drinkBox .vertical .dot:nth-of-type(4) {
  bottom: 8px;
  right: 8px;
}
.bannerArea .secondBox .drinkBox .title {
  color: #eae5d9;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 10px;
  width: fit-content;
  position: relative;
  margin: 0 auto;
  margin-bottom: 36px;
}
.bannerArea .secondBox .drinkBox .title:before, .bannerArea .secondBox .drinkBox .title:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eae5d9;
  position: absolute;
  left: 0;
  transition: width 0.5s ease;
}
.bannerArea .secondBox .drinkBox .title:before {
  top: -10px;
}
.bannerArea .secondBox .drinkBox .title:after {
  bottom: -10px;
}
.bannerArea .secondBox .drinkBox .drinkImg {
  width: 100%;
  max-width: 240px;
  height: auto;
}
@media (max-width: 1200px) {
  .bannerArea .secondBox .drinkBox .drinkImg {
    max-width: 200px;
  }
}
.bannerArea .secondBox .drinkBox .drinkImg img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.bannerArea .secondBox .drinkBox-mb {
  display: none;
}
@media screen and (max-width: 1080px) {
  .bannerArea .secondBox .drinkBox-mb {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 55px;
  }
}
.bannerArea .secondBox .drinkBox-mb .inner {
  display: flex;
  align-items: center;
  gap: 3.33vw;
}
.bannerArea .secondBox .drinkBox-mb .vertical {
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  position: relative;
  height: fit-content;
}
.bannerArea .secondBox .drinkBox-mb .vertical p {
  display: block;
  color: #414535;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  padding: 10px;
  border: 1px solid #414535;
}
@media screen and (max-width: 768px) {
  .bannerArea .secondBox .drinkBox-mb .vertical p {
    font-size: 18px;
    padding: 5px;
  }
}
.bannerArea .secondBox .drinkBox-mb .vertical .dot {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #414535;
  border-radius: 50%;
  z-index: 2;
}
.bannerArea .secondBox .drinkBox-mb .vertical .dot::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
}
.bannerArea .secondBox .drinkBox-mb .vertical .dot:nth-of-type(1) {
  top: 8px;
  left: 8px;
}
.bannerArea .secondBox .drinkBox-mb .vertical .dot:nth-of-type(2) {
  top: 8px;
  right: 8px;
}
.bannerArea .secondBox .drinkBox-mb .vertical .dot:nth-of-type(3) {
  bottom: 8px;
  left: 8px;
}
.bannerArea .secondBox .drinkBox-mb .vertical .dot:nth-of-type(4) {
  bottom: 8px;
  right: 8px;
}
.bannerArea .secondBox .drinkBox-mb .drinkImgBox {
  position: relative;
  width: clamp(160px, 50vw, 190px);
}
.bannerArea .secondBox .drinkBox-mb .drinkImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.bannerArea .secondBox .drinkBox-mb .drinkImg.clip {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: inset(0 0 0 50%);
  z-index: 2;
}
.bannerArea .secondBox .middleBox {
  width: 100%;
  max-width: 480px;
}
.bannerArea .secondBox .logoBox {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}
@media screen and (max-width: 1080px) {
  .bannerArea .secondBox .logoBox {
    justify-content: space-around;
  }
}
.bannerArea .secondBox .logoBox .jpText {
  writing-mode: vertical-rl;
  height: 100%;
  max-height: 260px;
  color: rgb(177, 165, 149);
  letter-spacing: 2px;
  line-height: 1.7;
  margin-top: 30px;
}
@media screen and (max-width: 1080px) {
  .bannerArea .secondBox .logoBox .jpText {
    font-size: 15px;
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .bannerArea .secondBox .logoBox .jpText {
    font-size: 13px;
  }
}
@media screen and (max-width: 1080px) {
  .bannerArea .secondBox .logoBox .logo {
    width: 90px;
  }
}
.bannerArea .secondBox .logoBox .textBox {
  width: 100%;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.bannerArea .secondBox .logoBox .enText,
.bannerArea .secondBox .logoBox .time,
.bannerArea .secondBox .logoBox .origin {
  color: rgb(177, 165, 149);
  font-size: 17px;
  font-family: "Cormorant", "Noto Serif TC", serif;
  text-transform: uppercase;
  width: fit-content;
  font-weight: 700;
  text-align: right;
}
@media screen and (max-width: 1080px) {
  .bannerArea .secondBox .logoBox .enText,
  .bannerArea .secondBox .logoBox .time,
  .bannerArea .secondBox .logoBox .origin {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .bannerArea .secondBox .logoBox .enText,
  .bannerArea .secondBox .logoBox .time,
  .bannerArea .secondBox .logoBox .origin {
    font-size: 13px;
  }
}
.bannerArea .secondBox .logoBox .time {
  border-top: 1px solid rgb(177, 165, 149);
  padding-top: 5px;
}
.bannerArea .secondBox .fruitBox {
  margin-top: 30px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  color: #414535;
}
@media screen and (max-width: 768px) {
  .bannerArea .secondBox .fruitBox {
    gap: 10px;
  }
}
.bannerArea .secondBox .fruitBox .title {
  font-size: 18px;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  .bannerArea .secondBox .fruitBox .title {
    font-size: 15px;
  }
}
.bannerArea .secondBox .fruitBox .flowerBox {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .bannerArea .secondBox .fruitBox .flowerBox {
    font-size: 24px;
    text-align: center;
  }
}
.bannerArea .secondBox .fruitBox .flowerBox p {
  padding: 0 10px;
  letter-spacing: 2px;
}
.bannerArea .secondBox .fruitBox .teaBox p {
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
}
@media screen and (max-width: 768px) {
  .bannerArea .secondBox .fruitBox .teaBox p {
    font-size: 16px;
  }
}
.bannerArea .secondBox .fruitBox .teaBox .imgBox {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}
.bannerArea .secondBox .fruitBox .teaBox .imgBox picture {
  width: 100%;
  max-width: 140px;
}
@media screen and (max-width: 768px) {
  .bannerArea .secondBox .fruitBox .teaBox .imgBox picture {
    width: 100px;
  }
}
.bannerArea .secondBox .fruitBox .teaBox .imgBox picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  font-family: "Cormorant", "Noto Serif TC", serif;
  margin: 0 auto;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .scroll {
    margin-top: 30px;
  }
}
.scroll .line {
  display: block;
  width: 1px;
  height: 105px;
  background-color: #757575;
  position: relative;
  overflow: hidden;
}
.scroll .line::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eae5d9, transparent);
  animation: lineRun 1.5s infinite;
}

.drinkArea {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 0 20px;
  padding-bottom: 60px;
}
.drinkArea .wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1420px;
}
.drinkArea .topBox {
  width: 100%;
  display: flex;
  gap: 4.427vw;
  justify-content: center;
  align-items: center;
}
.drinkArea .cardArea {
  width: 100%;
  max-width: 1420px;
  display: flex;
  margin-top: 50px;
  position: relative;
}
.drinkArea .cardArea .cardBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.drinkArea .cardArea .cardBox .item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 390px;
}
.drinkArea .cardArea .cardBox .item .bcBox {
  position: relative;
  width: 100%;
  mask-image: url("../../images/drink-bc.png");
  background-color: #404333;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}
.drinkArea .cardArea .cardBox .item .bcBox img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.drinkArea .cardArea .cardBox .item .imgBox {
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
}
@media screen and (max-width: 992px) {
  .drinkArea .cardArea .cardBox .item .imgBox {
    max-width: 150px;
  }
}
@media screen and (max-width: 575px) {
  .drinkArea .cardArea .cardBox .item .imgBox {
    max-width: 120px;
  }
}
.drinkArea .cardArea .cardBox .item .imgBox img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.drinkArea .cardArea .cardBox .item .itemName {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Noto Serif TC", serif;
}
.drinkArea .cardArea .cardBox .item .itemName .inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(80, 84, 66, 0.3);
  padding-bottom: 10px;
}
.drinkArea .cardArea .cardBox .item .itemName .name {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #64604f;
  line-height: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
  .drinkArea .cardArea .cardBox .item .itemName .name {
    font-size: 18px;
  }
}
.drinkArea .cardArea .cardBox .item .itemName .number {
  display: flex;
  align-items: flex-end;
  letter-spacing: 2px;
  line-height: normal;
}
.drinkArea .cardArea .cardBox .item .itemName .number .current {
  font-size: 28px;
  font-weight: 700;
  color: #64604f;
}
@media screen and (max-width: 768px) {
  .drinkArea .cardArea .cardBox .item .itemName .number .current {
    font-size: 18px;
  }
}
.drinkArea .cardArea .cardBox .item .itemName .number .total {
  font-size: 20px;
  font-weight: 700;
  color: rgba(100, 96, 79, 0.5);
}
@media screen and (max-width: 768px) {
  .drinkArea .cardArea .cardBox .item .itemName .number .total {
    font-size: 16px;
  }
}
.drinkArea .cardArea .cardBox .item .itemName .temp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-top: 16px;
  border-width: 1px;
  border-style: solid;
}
@media screen and (max-width: 768px) {
  .drinkArea .cardArea .cardBox .item .itemName .temp {
    width: 24px;
    height: 24px;
    font-size: 14px;
  }
}
.drinkArea .cardArea .cardBox .item .itemName .temp.hot {
  color: #b0644b;
  border-color: #b0644b;
}
.drinkArea .cardArea .cardBox .item .itemName .temp.ice {
  color: #414535;
  border-color: #414535;
}
.drinkArea .cardArea .bigger {
  transform: scale(1);
  transition: transform 1s ease;
}
.drinkArea .cardArea .original {
  transform: scale(0.75);
  transition: transform 1s ease;
}
.drinkArea .arrowBox {
  width: fit-content;
  display: flex;
  gap: clamp(195px, 32.22vw, 380px);
  z-index: 99;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .drinkArea .arrowBox {
    gap: 245px;
  }
}
@media screen and (max-width: 575px) {
  .drinkArea .arrowBox {
    gap: 61vw;
  }
}
.drinkArea .arrowBox .prev,
.drinkArea .arrowBox .next {
  width: 65px;
  height: 65px;
  border: 1px solid #545747;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: border 0.5s ease;
  pointer-events: all;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .drinkArea .arrowBox .prev,
  .drinkArea .arrowBox .next {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1080px) {
  .drinkArea .arrowBox .prev:hover,
  .drinkArea .arrowBox .next:hover {
    border: 1px solid transparent;
  }
  .drinkArea .arrowBox .prev:hover .rightArrow,
  .drinkArea .arrowBox .next:hover .rightArrow {
    transform: translate(-50%, -50%) translateX(15px);
  }
  .drinkArea .arrowBox .prev:hover .leftArrow,
  .drinkArea .arrowBox .next:hover .leftArrow {
    transform: translate(-50%, -50%) translateX(-15px);
  }
}
.drinkArea .arrowBox .prev .rightArrow,
.drinkArea .arrowBox .next .rightArrow {
  display: block;
  width: 30%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #545747;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.drinkArea .arrowBox .prev .rightArrow::before,
.drinkArea .arrowBox .next .rightArrow::before {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #545747;
  position: absolute;
  top: -3px;
  right: -3px;
  rotate: 45deg;
}
@media screen and (max-width: 768px) {
  .drinkArea .arrowBox .prev .rightArrow::before,
  .drinkArea .arrowBox .next .rightArrow::before {
    top: -2px;
    right: -1px;
  }
}
.drinkArea .arrowBox .prev .rightArrow::after,
.drinkArea .arrowBox .next .rightArrow::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #545747;
  position: absolute;
  bottom: -3px;
  right: -3px;
  rotate: -45deg;
}
@media screen and (max-width: 768px) {
  .drinkArea .arrowBox .prev .rightArrow::after,
  .drinkArea .arrowBox .next .rightArrow::after {
    bottom: -2px;
    right: -1px;
  }
}
.drinkArea .arrowBox .prev .leftArrow,
.drinkArea .arrowBox .next .leftArrow {
  display: block;
  width: 30%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #545747;
  transition: transform 0.5s ease;
}
.drinkArea .arrowBox .prev .leftArrow::before,
.drinkArea .arrowBox .next .leftArrow::before {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #545747;
  position: absolute;
  top: -3px;
  left: -3px;
  rotate: -45deg;
}
@media screen and (max-width: 768px) {
  .drinkArea .arrowBox .prev .leftArrow::before,
  .drinkArea .arrowBox .next .leftArrow::before {
    top: -2px;
    left: -1px;
  }
}
.drinkArea .arrowBox .prev .leftArrow::after,
.drinkArea .arrowBox .next .leftArrow::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #545747;
  position: absolute;
  bottom: -3px;
  left: -3px;
  rotate: 45deg;
}
@media screen and (max-width: 768px) {
  .drinkArea .arrowBox .prev .leftArrow::after,
  .drinkArea .arrowBox .next .leftArrow::after {
    bottom: -2px;
    left: -1px;
  }
}

.newsArea {
  padding: 100px 0;
  background-color: rgb(65, 69, 53);
}
.newsArea .wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1720px;
  margin-left: auto;
}
@media screen and (max-width: 1080px) {
  .newsArea .wrap {
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
  }
}
.newsArea .leftBox {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 290px;
  height: fit-content;
}
.newsArea .leftBox .inner {
  display: flex;
  align-items: center;
}
.newsArea .titleBox {
  width: fit-content;
  height: fit-content;
  writing-mode: vertical-lr;
  border-right: 1px solid #fff;
  padding-right: 10px;
}
.newsArea .titleBox .enText {
  color: #fff;
}
.newsArea .titleBox .zhText {
  letter-spacing: 3px;
}
.newsArea .titleDes {
  writing-mode: vertical-rl;
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1.6;
  font-family: "Noto Serif TC", serif;
  margin-left: 30px;
  height: fit-content;
}
@media screen and (max-width: 768px) {
  .newsArea .titleDes {
    font-size: 20px;
  }
}
.newsArea .btnBox {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.newsArea .btnBox .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 215px;
  height: fit-content;
  padding: 20px 60px;
  border-radius: 30px;
}
.newsArea .btnBox .btn:hover {
  cursor: pointer;
}
.newsArea .btnBox .btn:hover .arrow {
  transform: translateX(15px);
}
.newsArea .btnBox p {
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  font-family: "Cormorant", "Noto Serif TC", serif;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .newsArea .btnBox p {
    font-size: 14px;
  }
}
.newsArea .btnBox .arrow {
  display: flex;
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 1px;
  background-color: #fff;
  transform: translateX(0);
  transition: transform 0.5s ease;
}
.newsArea .btnBox .arrow::before {
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: -4px;
}
.newsArea .cardBox {
  width: 100%;
  max-width: 1325px;
  margin-top: 30px;
  display: flex;
}
.newsArea .cardBox .cardItem {
  background-color: #fcf8f6;
  overflow: hidden;
  width: 350px;
  height: fit-content;
  border-radius: 20px;
  position: relative;
}
.newsArea .cardBox .cardItem::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.2);
  transition: opacity 0.5s ease;
}
.newsArea .cardBox .cardItem:hover .textBox .seeAll {
  color: #ae6249;
}
.newsArea .cardBox .cardItem:hover .textBox .seeAll::after {
  background-color: #ae6249;
}
.newsArea .cardBox .cardItem:hover::before {
  opacity: 1;
}
.newsArea .cardBox .cardItem .imgBox {
  width: 100%;
  height: 200px;
}
.newsArea .cardBox .cardItem .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.newsArea .cardBox .cardItem .textBox {
  font-family: "Noto Serif TC", serif;
  width: 100%;
  padding: 22px;
}
.newsArea .cardBox .cardItem .textBox .cata {
  color: #ae6249;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 1;
}
.newsArea .cardBox .cardItem .textBox .cata::before {
  content: "【";
  color: #ae6249;
  padding-right: 5px;
}
.newsArea .cardBox .cardItem .textBox .cata::after {
  content: "】";
  color: #ae6249;
  padding-left: 5px;
}
.newsArea .cardBox .cardItem .textBox .title {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: normal;
  color: #414535;
  padding-top: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(65, 69, 53, 0.3);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
  .newsArea .cardBox .cardItem .textBox .title {
    font-size: 16px;
    line-height: 28px;
  }
}
.newsArea .cardBox .cardItem .textBox .des {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.6px;
  line-height: 1.5;
  color: #414535;
  padding-top: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
  .newsArea .cardBox .cardItem .textBox .des {
    font-size: 14px;
    padding-top: 10px;
  }
}
.newsArea .cardBox .cardItem .textBox .seeAll {
  display: flex;
  margin-top: 25px;
  width: fit-content;
  position: relative;
  color: #414535;
  font-weight: 600;
  transition: color 0.5s ease;
}
@media screen and (max-width: 768px) {
  .newsArea .cardBox .cardItem .textBox .seeAll {
    font-size: 14px;
  }
}
.newsArea .cardBox .cardItem .textBox .seeAll::after {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background-color: #414535;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.5s ease;
}
.newsArea .swiper {
  height: 480px;
  margin-right: 0;
}
.newsArea .swiper .swiper-wrapper {
  cursor: grab;
  overflow-y: visible;
  position: relative;
}
.newsArea .swiper .swiper-pagination {
  display: block;
  position: absolute;
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  height: 4px;
  background-color: transparent;
  border-bottom: 1px solid rgb(234, 229, 217);
}
.newsArea .swiper .swiper-pagination .swiper-pagination-progressbar-fill {
  background-color: #eae5d9;
  border-radius: 10px;
}
.newsArea .swiper .dragIcon {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 80px;
  height: 80px;
}
.newsArea .swiper .dragIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.newsArea .swiper .dragIcon.onDrag {
  opacity: 1;
}

.aboutArea {
  padding-top: 125px;
  padding-bottom: 8.33vw;
  background-color: #f1eee5;
  font-family: "Noto Serif TC", serif;
}
@media screen and (max-width: 768px) {
  .aboutArea {
    padding-top: 70px;
  }
}
.aboutArea .wrap {
  display: flex;
  gap: 5.291vw;
  width: 100%;
  max-width: 1475px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1080px) {
  .aboutArea .wrap {
    flex-direction: column;
    align-items: center;
  }
}
.aboutArea .leftBox {
  width: 100%;
  max-width: 520px;
}
@media screen and (max-width: 1080px) {
  .aboutArea .leftBox {
    max-width: 800px;
  }
}
.aboutArea .leftBox .titleBox {
  width: fit-content;
  margin-bottom: 60px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .aboutArea .leftBox .titleBox {
    flex-direction: column;
  }
}
.aboutArea .leftBox .titleBox::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #414535;
}
@media screen and (max-width: 1080px) {
  .aboutArea .leftBox .titleBox .show-pc {
    display: flex;
  }
}
@media screen and (max-width: 992px) {
  .aboutArea .leftBox .titleBox .enText {
    text-align: left;
  }
}
.aboutArea .leftBox .titleBox .zhText {
  padding-top: 30px;
  padding-left: 45px;
}
@media screen and (max-width: 768px) {
  .aboutArea .leftBox .titleBox .zhText {
    padding-left: 0;
    padding-top: 10px;
  }
}
.aboutArea .leftBox .titleDes {
  letter-spacing: 1px;
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  .aboutArea .leftBox .titleDes {
    font-size: 14px;
    text-align: justify;
  }
}
.aboutArea .leftBox .titleDes .Txt {
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 4.4px;
  margin-bottom: 22px;
}
@media screen and (max-width: 768px) {
  .aboutArea .leftBox .titleDes .Txt {
    font-size: 28px;
  }
}
.aboutArea .leftBox .btnBox {
  margin-top: 60px;
}
.aboutArea .rightBox {
  display: flex;
  justify-content: center;
  gap: 60px;
  position: relative;
  z-index: 0;
  width: 815px;
}
@media screen and (max-width: 815px) {
  .aboutArea .rightBox {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 665px) {
  .aboutArea .rightBox {
    transform: scale(0.6);
    margin: -60px 0;
  }
}
@media screen and (max-width: 510px) {
  .aboutArea .rightBox {
    transform: scale(0.4);
    margin: -90px 0;
  }
}
@media screen and (max-width: 375px) {
  .aboutArea .rightBox {
    transform: scale(0.38);
  }
}
.aboutArea .rightBox .inner {
  mask-image: url("../../images/about-mask.svg");
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}
.aboutArea .rightBox .deco-01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  z-index: -1;
  filter: brightness(0) saturate(100%) invert(88%) sepia(21%) saturate(376%) hue-rotate(347deg) brightness(84%) contrast(92%);
}
.aboutArea .rightBox .deco-02 {
  position: absolute;
  top: 60px;
  right: 0;
  width: 160px;
  z-index: -1;
  filter: brightness(0) saturate(100%) invert(42%) sepia(17%) saturate(1693%) hue-rotate(329deg) brightness(96%) contrast(81%);
}
.aboutArea .rightBox .deco-03 {
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 260px;
  z-index: -1;
  filter: brightness(0) saturate(100%) invert(88%) sepia(21%) saturate(376%) hue-rotate(347deg) brightness(84%) contrast(92%);
}

.storeArea {
  background-color: #ab6047;
  font-family: "Noto Serif TC", serif;
  position: relative;
}
.storeArea .wrap {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 1080px) {
  .storeArea .wrap {
    flex-direction: column;
  }
}
.storeArea .leftBox {
  width: 50%;
}
@media screen and (max-width: 1280px) {
  .storeArea .leftBox {
    width: 40%;
  }
}
@media screen and (max-width: 1080px) {
  .storeArea .leftBox {
    width: 100%;
  }
}
.storeArea .leftBox .imgBox {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1080px) {
  .storeArea .leftBox .imgBox {
    height: 450px;
  }
}
@media screen and (max-width: 768px) {
  .storeArea .leftBox .imgBox {
    height: 350px;
  }
}
@media screen and (max-width: 575px) {
  .storeArea .leftBox .imgBox {
    height: 250px;
  }
}
.storeArea .leftBox .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.storeArea .middleBox {
  display: flex;
  margin-left: -12.76vw;
  margin-top: 55px;
  gap: 4.16vw;
  overflow: hidden;
}
.storeArea .middleBox.mb {
  display: none;
}
@media screen and (max-width: 1080px) {
  .storeArea .middleBox {
    display: none;
  }
  .storeArea .middleBox.mb {
    display: flex;
    justify-content: center;
    margin: 55px 0;
    gap: 4.16vw;
  }
}
@media screen and (max-width: 1080px) and (max-width: 650px) {
  .storeArea .middleBox.mb {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}
.storeArea .middleBox .titleBox {
  position: relative;
}
.storeArea .middleBox .titleBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 80%;
  height: 1px;
  background-color: #fbf6f4;
}
@media screen and (max-width: 1080px) {
  .storeArea .middleBox .titleBox::before {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .storeArea .middleBox .titleBox {
    width: 300px;
  }
}
.storeArea .middleBox .enText,
.storeArea .middleBox .zhText {
  color: #fbf6f4;
  padding-top: 15px;
}
@media screen and (max-width: 1080px) {
  .storeArea .middleBox .enText,
  .storeArea .middleBox .zhText {
    text-align: left;
  }
}
.storeArea .middleBox .zhText {
  position: absolute;
  right: 20%;
  top: 28px;
}
@media screen and (max-width: 1080px) {
  .storeArea .middleBox .zhText {
    right: 10%;
    top: 15px;
  }
}
.storeArea .middleBox .btnBox {
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.storeArea .middleBox .btnBox .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid rgba(251, 246, 244, 0.3);
  max-width: 215px;
  height: fit-content;
  padding: 20px 60px;
  border-radius: 30px;
}
.storeArea .middleBox .btnBox .btn:hover {
  cursor: pointer;
}
.storeArea .middleBox .btnBox .btn:hover .arrow {
  transform: translateX(15px);
}
.storeArea .middleBox .btnBox p {
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  font-family: "Cormorant", "Noto Serif TC", serif;
  color: #fbf6f4;
}
@media screen and (max-width: 768px) {
  .storeArea .middleBox .btnBox p {
    font-size: 14px;
  }
}
.storeArea .middleBox .btnBox .arrow {
  display: flex;
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 1px;
  background-color: #fbf6f4;
  transform: translateX(0);
  transition: transform 0.5s ease;
}
.storeArea .middleBox .btnBox .arrow::before {
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: #fbf6f4;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: -4px;
}
.storeArea .rightBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 50%;
  padding-left: 5.729vw;
}
@media screen and (max-width: 1080px) {
  .storeArea .rightBox {
    align-items: baseline;
    margin-top: 3.703vw;
    width: 100%;
    padding-left: 0;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  .storeArea .rightBox {
    margin-top: 30px;
  }
}
.storeArea .rightBox .swiper {
  display: flex;
  width: calc(100% + 65px);
  gap: 2.604vw;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 1080px) {
  .storeArea .rightBox .swiper {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }
}
.storeArea .rightBox .swiper-wrapper {
  width: 100%;
  max-width: 450px;
  color: #eae5d9;
}
@media screen and (max-width: 1080px) {
  .storeArea .rightBox .swiper-wrapper {
    width: 100%;
    max-width: 1040px;
  }
}
.storeArea .rightBox .storeItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  padding-bottom: 3.385vw;
}
.storeArea .rightBox .inner {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 100%;
  max-width: 450px;
}
@media screen and (max-width: 1080px) {
  .storeArea .rightBox .inner {
    max-width: 1040px;
  }
}
@media screen and (max-width: 768px) {
  .storeArea .rightBox .inner {
    max-width: 100%;
  }
}
.storeArea .rightBox .nameBox {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .storeArea .rightBox .nameBox {
    justify-content: center;
    height: 50px;
  }
}
.storeArea .rightBox .nameBox::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(234, 229, 217, 0.3);
}
.storeArea .rightBox .nameBox .cata {
  font-family: "Noto Serif TC", serif;
  border: 1px solid #eae5d9;
  border-radius: 32px;
  padding: 25px 17px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .storeArea .rightBox .nameBox .cata {
    font-size: 14px;
    padding: 10px;
  }
}
.storeArea .rightBox .nameBox .cata::before {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 3px solid #eae5d9;
  border-radius: 29px;
  padding: 27px 43px;
}
@media screen and (max-width: 768px) {
  .storeArea .rightBox .nameBox .cata::before {
    padding: 22px 42px;
  }
}
.storeArea .rightBox .nameBox .store {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 1080px) {
  .storeArea .rightBox .nameBox .store {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .storeArea .rightBox .nameBox .store {
    font-size: 18px;
  }
}
.storeArea .rightBox .contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15em;
}
@media screen and (max-width: 768px) {
  .storeArea .rightBox .contact {
    align-items: center;
    font-size: 14px;
  }
}
.storeArea .rightBox .btnBox {
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 25px;
}
.storeArea .rightBox .btnBox .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid rgba(251, 246, 244, 0.3);
  max-width: 215px;
  height: fit-content;
  padding: 20px 60px;
  border-radius: 30px;
}
.storeArea .rightBox .btnBox .btn:hover {
  cursor: pointer;
}
.storeArea .rightBox .btnBox .btn:hover .arrow {
  transform: translateX(15px);
}
.storeArea .rightBox .btnBox p {
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  font-family: "Cormorant", "Noto Serif TC", serif;
  color: #fbf6f4;
}
@media screen and (max-width: 768px) {
  .storeArea .rightBox .btnBox p {
    font-size: 14px;
  }
}
.storeArea .rightBox .btnBox .arrow {
  display: flex;
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 1px;
  background-color: #fbf6f4;
  transform: translateX(0);
  transition: transform 0.5s ease;
}
.storeArea .rightBox .btnBox .arrow::before {
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: #fbf6f4;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: -4px;
}
@media screen and (max-width: 1080px) {
  .storeArea .rightBox .btnBox {
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .storeArea .rightBox .btnBox {
    align-items: center;
  }
}
.storeArea .rightBox .arrowBox {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 1080px) {
  .storeArea .rightBox .arrowBox {
    flex-direction: row-reverse;
  }
}
.storeArea .rightBox .arrowBox .prev,
.storeArea .rightBox .arrowBox .next {
  width: 65px;
  height: 65px;
  border: 1px solid #fbf6f4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: border 0.5s ease;
}
@media screen and (max-width: 768px) {
  .storeArea .rightBox .arrowBox .prev,
  .storeArea .rightBox .arrowBox .next {
    width: 50px;
    height: 50px;
  }
}
.storeArea .rightBox .arrowBox .prev:hover,
.storeArea .rightBox .arrowBox .next:hover {
  border: 1px solid transparent;
}
.storeArea .rightBox .arrowBox .prev:hover .rightArrow,
.storeArea .rightBox .arrowBox .next:hover .rightArrow {
  transform: translate(-50%, -50%) translateX(15px);
}
.storeArea .rightBox .arrowBox .prev:hover .leftArrow,
.storeArea .rightBox .arrowBox .next:hover .leftArrow {
  transform: translate(-50%, -50%) translateX(-15px);
}
.storeArea .rightBox .arrowBox .rightArrow {
  width: 30%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fbf6f4;
  transition: all 0.5s ease;
}
.storeArea .rightBox .arrowBox .rightArrow::before {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #fbf6f4;
  position: absolute;
  top: -3px;
  right: -3px;
  rotate: 45deg;
}
.storeArea .rightBox .arrowBox .rightArrow::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #fbf6f4;
  position: absolute;
  bottom: -3px;
  right: -3px;
  rotate: -45deg;
}
.storeArea .rightBox .arrowBox .leftArrow {
  width: 30%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fbf6f4;
  transition: all 0.5s ease;
}
.storeArea .rightBox .arrowBox .leftArrow::before {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #fbf6f4;
  position: absolute;
  top: -3px;
  left: -3px;
  rotate: -45deg;
}
.storeArea .rightBox .arrowBox .leftArrow::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #fbf6f4;
  position: absolute;
  bottom: -3px;
  left: -3px;
  rotate: 45deg;
}

@keyframes lineRun {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200%);
  }
}